body {
  background-color: rgb(235, 226, 190);
  font-family: 'Spartan', sans-serif;
  color: rgb(155, 144, 96);
}

.App {
  text-align: center;
  width: 60%;
  margin: auto;
}

h1 {
  font-weight: 100;
  font-size: 4vw;
  margin: 1vw auto;
}

h2 {
  text-align: left;
}

#live-text {
  font-size: 2vw;
}

.countdown-number {
  font-size: 2vw;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(155, 144, 96) !important;
}

.bottom-spacing {
  height: 300px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App{
    width: 100%
  }

  .countdown-number {
    font-size: 10vw;
  }

  #live-text {
    font-size: 8vw;
  }

  h1 {
    font-size: 10vw;
  }
}
